<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://apaia-technology.io/">
                        Apaia-technology
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with love by
            <a href="https://apaia-technology.io/" target="_blank">Apaia-technology</a> for a better AI.
        </div>
    </div>
</footer>
